* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

html {
  font-size: 24px; /* was implicit 16px */
}

body {
  display: flex;
  justify-content: center;  
  align-items: center;     
  background: #fafafa;
  font-family: 'Courier New', 'Courier', monospace;
  color: #111;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 0;
  width: 100%;
  max-width: 1000px; 
}

.header-container {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  max-width: 900px;
}

.header {
  display: flex;
  align-items: center;
  background: #f4bf1a;
  border: 2px solid #111;
  border-radius: 10px;
  padding: 16px 24px;
  max-width: 900px;
  width: 100%;
  margin-bottom: 0px;
  box-shadow: 5px 5px 5px grey;
}

.header-text {
  flex: 1;
}

.header-img {
  flex: 0 0 auto;       
  max-width: 400px;
  width: 100%;
  height: 130px;  
  border: 2px solid #111;
  border-radius: 8px;
  box-shadow: 5px 5px 5px grey;
  object-fit: cover;  
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 1px;
  margin-left: 4px;
  font-weight: bold;
}

.title {
  font-size: 2.9rem;
  margin-top: -16px;
  text-shadow: 2px 2px white;
}

.theme-switch {
  display: grid;
  grid-template-columns: auto auto;
  border: 2px solid #111;
  width: 80px;
  height: 80px;
  border-radius: 2px;
  margin-left: 16px;
}

.red-theme {
  background: #d01818;
  padding: 16px;
  border: 1px solid #111;
}

.blue-theme {
  background:  #83c5f3;
  padding: 16px;
  border: 1px solid #111;
}

.yellow-theme {
  background: #f4bf1a;
  padding: 16px;
  border: 1px solid #111;
}

.white-theme {
  background: #ffffff;
  padding: 16px;
  border: 1px solid #111;
}

.main {
  display: flex;
  gap: 6px 15px;       /* your row-gap | column-gap */
  align-items: stretch;
  width: 100%;
  max-width: 900px;
}

.box {
  border: 2px solid #111;
  border-radius:  10px;
  padding: 16px;
  box-shadow: 5px 5px 5px grey;
}

.projects {
  background: #d01818;
  color: #ffffff;
  flex: 1 1 700px;
  text-shadow: 1px 1px black;
}

.projects h2, .resume h2, .about h2 {
  text-align: center;
  margin-bottom: 12px;
}

.projects ul {
  list-style: none;
}

.projects li, .resume p, .about p {
  margin-bottom: 25px;
  text-align: center;
}

.resume {
  background: #fff;
  flex: 1 1 700px;
  text-shadow: 1px 0px grey;
}

.resume-link a{
  text-decoration: none;
  color: #111;
}

.projects a {
  text-decoration: none;
  color: #ffffff;
}

.resume-link a:hover, .book:hover, .github:hover, .linkedin:hover, .email:hover {
  text-decoration: underline;
  font-style: italic;
}

.projects a:hover{
  text-decoration: underline;
  font-style: italic;
}

.right-column {
  display: flex;
  flex-direction: column;
  flex: 0 0 400px;
  gap: 6px;
  align-items: stretch;
}

.about {
  background: #3755a1;
  color: #fff;
  margin-bottom: 6px;
  flex: 1 1 450px; 
  text-shadow: 1px 1px black;
}

.book {
  text-decoration: none;
  color: #fff;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  padding: 16px;
  border: 2px solid #111;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}

.github {
  background: #272b1d;
  color: #fff;
  text-shadow: 1px 1px black;
}

.linkedin {
  background: #f4bf1a;
  color: #111;
}

.email {
  background: #d01818;
  color: #fff;
  text-shadow: 1px 1px black;
}

.quote {
  max-width: 900px;
  width: 100%;
  background: #3755a1;
  border: 2px solid #111;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  font-style: italic;
  box-shadow: 5px 5px 5px grey;
  color: #fff;
  text-shadow: 1px 1px black;
}